<p id="notice"><%= notice %></p>
  <body id="page-top" style="background-color:#EAEAEA;">

<h1 style="font-size:40px; text-align: center;">Listing Languages</h1>

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">MENU</a>
  <form class="form-inline">
    <div><a href="/"><img src="http://images.clipartpanda.com/house-clipart-House-Clip-art-21.png" width="50"height="50">
    <a href="/languages/new"><img src="https://cdn2.iconfinder.com/data/icons/ios-7-tab-bar-icons/500/plus-512.png" width="50" height="50"></a></div>
  </form>
</nav>
<br>

<% @languages.each do |language| %>
  <div class="card" style="width: 18rem; float : left; background-color: #EAEAEA;">
    <div class="card-body">
      <h5 class="card-title">category : <%= language.category %></h5>
      <p class="card-text">day : <%= language.day %></p>
      <p class="card-text">content : <%= language.content %></p>
        <td><%= link_to 'Show', language %></td>
        <td><%= link_to 'Edit', edit_language_path(language) %></td>
        <td><%= link_to 'Destroy', language, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </div>
    <!--댓글-->
   
    <form action = "/<%=language.id%>/cmtlan" method= "post">

     댓글 : <textarea name="content"></textarea>
     <button type="submit" class="btn btn-primary btn-md">제출</button>
   </form>
   
   <!--댓글보기-->
   <%language.cmtlans.each do |c| %>
        <%= c.content%>
        <%= link_to cmtlandes_path(p_id: language.id, c_id: c.id) do %>
          <button>삭제</button>
       <% end %>
       
    <%end%>
   
   
  </div>
<% end %>
</style>
</body>
